<%= form_for(@food_rank) do |f| %>
  <% if @food_rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_rank.errors.count, "error") %> prohibited this food_rank from being saved:</h2>

      <ul>
      <% @food_rank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rank %><br>
    <%= f.number_field :rank %><br>
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %><br>
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %><br>
    <%= f.label :food_id %><br>
    <%= f.number_field :food_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
