<p id="notice"><%= notice %></p>

<h1>Listing Food Ranks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Rank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_ranks.each do |food_rank| %>
      <tr>
        <td><%= food_rank.user.name %></td>
        <td><%= food_rank.rank %></td>
        <td><%= link_to 'Show', food_rank %></td>
        <td><%= link_to 'Edit', edit_food_rank_path(food_rank) %></td>
        <td><%= link_to 'Destroy', food_rank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food rank', new_food_rank_path %>
